<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
    </div>
</div>
<a href="/prove02/add-book">Add Book</a>
<a href="/prove02/remove-book">Remove Book</a>
    <div class="container" style="background-color: aliceblue; display:flex; flex-direction: column; flex-wrap:nowrap;">
        <% for (book of books) { %>
            <div style="display: flex; flex-direction: row;">
                <h4 style="margin: 4px;"><%= book.title %></h4>
                <h4 style="margin: 4px;"><%= book.author %></h4>
                <h4 style="margin: 4px;"><%= book.genre %></h4>
            </div>
        <% } %>
    </div>
</body>

</html>